@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: #b68f5d;
    padding: 2rem 3.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    color: #fff;
}

nav {
    display: flex;
    gap: 1.6rem;
}

nav a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

/*hero section */
.hero {
    background-image: url(./images/hero-image.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 3.6rem;
    color: white;
    position: relative;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    align-items: center;
}

.hero-header {
    font-size: 4rem;
    letter-spacing: 2px;
    font-style: italic;
}

.hero-text {
    font-size: 1.6rem;
}

.btn {
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.btn:hover {
    background-color: blanchedalmond;
}

.menu-section {
    margin-top: 10rem;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4.8rem;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 30rem;
    background-color: bisque;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid bisque;
    transition: all 0.2s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 22rem;
    border-radius: 1rem;
    object-fit: cover;
}

.card h3 {
    font-size: 2.4rem;
}

.card p {
    font-size: 1.4rem;
}

.espresso-card {
    position: relative;
    overflow: hidden;
}

.badge {
    position: absolute;
    background-color: red;
    padding: 0.6rem 4rem;
    top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    transform: rotate(45deg);
    right: -3rem;
}

.footer {
    background-color: #b68f5d;
    text-align: center;
    margin-top: 10rem;
    padding: 2.4rem 0;
    width: 100%;
}